#loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-top-left-radius: 50px;
}

#loader {
    width: 2.5rem;
    height: 2.5rem;
    border: 6px solid #bababa;
    border-top: 6px solid #db2b2b;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

/* animate loader */
@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}