#add-staff-modal-backdrop {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.533);
  display: flex;
  justify-content: center;
  align-items: center;
}

#add-staff-form {
  display: flex;
  background-color: white;
  border-radius: 5px;
  padding: 1rem;
  flex-direction: column;
  width: fit-content;
  font-family: "Roboto", sans-serif;
}

#add-staff-form label {
  display: block;
  font-size: 0.8rem;
}

.add-staff-modal-input-section {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: row;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.add-staff-modal-input-group {
  display: flex;
  flex-direction: column;
}

.add-staff-modal-input-group input,
.add-staff-modal-input-group select {
  padding: 0.6rem;
  border: 1px solid #bababa;
  border-radius: 5px;
}

#add-staff-form-button-container {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.8rem;
}

#add-staff-form-button-container button,
#add-staff-form-button-container input {
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #dededeb9;
}

#add-staff-form-button-container button {
  background-color: #dededeb9;
}

#add-staff-form-button-container input {
  background-color: rgb(24, 202, 24);
  color: white;
}

#add-staff-form-button-container input:active {
  background-color: rgb(20, 183, 20);
}

#add-staff-form-button-container button:active {
  background-color: #c6c6c6b9;
}

#add-staff-form span {
  font-size: 0.9rem;
  width: 100%;
}

#add-staff-form p {
  font-size: 0.8rem;
  margin: 0;
  margin-bottom: 1.5rem;
  color: #bababa;
}

#add-staff-form .icon {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  box-shadow: -1px 1px 3px 1px rgba(141, 141, 141, 0.35);
  width: fit-content;
  border-radius: 5px;
  display: flex;
  align-items: center;
  background-color: #d00909;
}

#add-staff-form .add-staff-modal-title {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 0.8rem;
}

@media (hover: hover) {
  #add-staff-form-button-container input:hover {
    background-color: rgb(20, 183, 20);
  }

  #add-staff-form-button-container button:hover {
  background-color: #c6c6c6b9;
}
}
