#add-staff-modal-backdrop {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.533);
  display: flex;
  justify-content: center;
  align-items: center;
}

#add-staff-form {
  display: flex;
  background-color: white;
  border-radius: 5px;
  padding: 1rem;
  flex-direction: column;
  max-width: 300px;
  width: 90%;
}
