#dashboard {
  background-color: white;
  border-top-left-radius: 30px;
  padding: 1.5rem;
}

#dashboard table {
  border-collapse: collapse;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
}

#dashboard table th,
td {
  border: 1px solid #bababa;
  padding: 0.5rem;
  text-align: start;
}

#dashboard table caption {
  padding: 0.7rem;
  border-top: 1px solid #bababa;
  border-left: 1px solid #bababa;
  border-right: 1px solid #bababa;
  text-align: start;
  background-color: #dededeb9;
  font-weight: bold;
}

#dashboard table tfoot tr td{
  text-align: right;
  border: none;
}
