#dashboard {
  background-color: white;
  border-top-left-radius: 30px;
  padding: 1.5rem;
}

#dashboard table {
  border-collapse: collapse;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

#dashboard table th,
td {
  border: 1px solid #bababa;
  padding: 0.7rem;
  text-align: start;
}

#dashboard table thead tr {
    background-color: #dededeb9;
}
