#login-form-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#login-form {
  font-family: "Roboto", sans-serif;
  width: 20rem;
  max-width: 90%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

#login-form #username {
  margin-bottom: 1.5rem;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #bababa;
}

#username:focus {
  outline: 3px solid rgb(140, 192, 255);
  outline-offset: 2px;
}

#password-container {
  border: 1px solid #bababa;
  border-radius: 5px;

  display: flex;
  align-items: center;
}

#password-container:focus-within {
  outline: 3px solid rgb(140, 192, 255);
  outline-offset: 2px;
}

#login-form #password {
  padding: 1rem;
  border: none;
  border-radius: 5px;
  width: 83%;
  outline: none;
}

#forgot-password {
  align-self: flex-end;
  text-decoration: none;
  color: #2672e4;
  border-radius: 5px;
}

#login-form label,
#forgot-password {
  font-size: 0.9rem;
}

#login-button {
  border: none;
  border-radius: 5px;
  background-color: #db2b2b;
  padding: 1rem;
  margin-top: 1.5rem;
  font-weight: 600;
  font-size: 1rem;
  color: white;
  cursor: pointer;
}

#login-button:focus {
  outline: 3px solid rgb(140, 192, 255);
  outline-offset: 2px;
}

#login-button:active {
  background-color: #d00909;
}

#forgot-password:active {
  text-decoration: underline;
}

#forgot-password:focus {
  outline: 3px solid rgb(140, 192, 255);
  outline-offset: 2px;
}

@media (hover: hover) {
  #login-button:hover {
    background-color: #d00909;
  }

  #forgot-password:hover {
    text-decoration: underline;
  }
}

#show-password-icon {
  color: #bababa;
}
