#side-bar-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 1.3rem;
    padding-top: 0;
    background-color: #FBFBFB;
}

.side-bar-link {
    text-decoration: none;
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.8rem;
    padding: 0.8rem;
    border-radius: 50px;
}

@media (hover: hover){
    .side-bar-link:hover {
        background-color: #dededeb9;
    }
}